.container{
    max-width: 1170;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
    font-family: Raleway;
    font-weight: 400;
    font-size: 36px;
    line-height: 33px;
    margin-bottom: 26px;
    text-transform: capitalize;
    text-align: center;
}
.line{
    border-bottom: 1px solid #EC7979;
    width: 170px;
    height: 0px;
    margin: 0 auto 40px;
}
.paragraph{
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878b;
    line-height: 21px;
    margin-bottom: 92px;
}
    
.info_item {
    width: 371px;
    text-align: center;
    margin-top: 92px;
    gap: 27px;
}

.info_img {
    width: 92px;
    height: 92px;
    margin: 0 auto 24px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    
}
.info_title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
}
.info_text {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878b;
}
.info_item_groups {
    display: flex;
    justify-content: center; /* ТУТ Я ПОЛЬЗОВАЛСЯ ЧАТОМ ГПТ ИБО В Я ВООБЩЕ НЕ ПОНИМАЛ КАК ЦЕНТРИРОВАТЬ ИТЕМЫ */
    align-items: flex-start;  
    gap: 40px;                
    flex-wrap: wrap;          
    text-align: center;
}
