* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.tabs {
  margin-top: 100px;
  margin-bottom: 118px;
 }

 .info {
  margin-bottom: 110px;
 }

.price {
  padding-top: 82px;
  padding-bottom: 83px;
  background-color: #F5F5F5;
  text-align: center;
  margin-bottom: 107px;
}

.feedback {
  margin-bottom: 107px;
}

/* TABS BLOCK */
.tab__item {
  color:#333333;
  display: inline-block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  max-width: 203px;
}

.tab__item.tab__item-active {
  border: 1px solid #C6CBCD;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background: #fff;
  position: relative;
  top: 1.5px; 
  }

.tab {
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: space-between;
}

.tab__wrapper-text {
  max-width: 700px;
  padding: 55px 20px 54px 100px;
  
}

.tab__title {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 57px;
}

.tab__description {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 26px;
}

.tab__description:last-of-type {
  margin: 0;
}

.tab__button {
  background-color: #EC7979;
  font-size: 18px;
  font-family: 'Open Sans';
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  margin-top: 84px;
  line-height: 25px;
  width: 100%;
  max-width: 270px;
  padding: 16.5px;

}

.tab__wrapper-image {
max-width: 470px;;
}

.tab__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* WHY THIS IS AWESOME BLOCK */
.info {
  text-align: center;
}

.info__main-title {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.line {
  width: 170px;
  height: 1px;
  background: #EC7979;
  margin: 0 auto 40px;
}

.info__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #86878B;
  margin-bottom: 92px;
}

.info__group {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  }

.info__wrapper-image {
  width: 92px;              
  height: 92px;            
  border-radius: 50%;        
  border: 1px solid #ec7979; 
  display: flex;            
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
}

.info__title {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 26px;

}

.info__text {
  font-size: 18px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
}


/* PRICING OPTIONS */
.price__wrapper {
  margin-bottom: 79px;
}

.price__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.price__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  top: calc(100% + 40px);
  left: calc(50% - 85px);
}

.price__subtitle {
font-size: 18px;
font-weight: 400;
line-height: 21px;
color: #86878B;
}

.price__tarif {
display: flex;
justify-content: center;
gap: 30px;
align-items: flex-start;
}

.price__tarif-description {
  flex: 1;
  width: 100%;
  max-width: 370px;
  background: #fff;
}

.price__tarif-description:hover {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  margin-top: -20px;
} 

.price__tarif-description li {
  padding: 15px;
  border-bottom: 2px solid #f5f5f5; 
  font-size: 18px;
  font-weight: 400;
  color: #86878B;
  line-height: 21px;
  list-style: none;
}

.price__tarif-description .price__tarif-title,
.price__tarif-value,
.price__tarif-specification {
  border-bottom: 2px solid #fff;
}

.price__tarif-description .price__tarif-title {
  background: #333333;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  line-height: 33px;
}

.price__tarif-description .price__tarif-value {
  background: #333333;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  padding: 34px;
}

.price__tarif-description .price__tarif-specification {
  background: #333333;
  color: #86878B;
  font-size: 18px;
  font-weight: 400;
}

.price__tarif-text {
  text-transform: capitalize;
}

.price__tarif-description li:last-child {
  border-bottom: none;
}

/* WHAT OUR CUSTOMERS ARE SAYING */
.feedback__wrapper-text {
  margin-bottom: 83px;
}

.feedback__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.feedback__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  top: calc(100% + 40px);
  left: calc(50% - 85px);
}

.feedback__subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  color: #86878B;
}

.feedback__items-wrapper {
  display: flex;
  gap: 30px;
 }

.feedback__item {
  width: calc((100% - 60px) /3 );
  max-width: 370px;
}

.feedback__text {
  background-color: #E2E2E2;
  font-size: 18px;
  color: #86878B;
  text-align: center;
  line-height: 21px;
  padding: 38px 25px;
  margin-bottom: 66px;
  border-radius: 10px;
  position: relative;
}

.feedback__text::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  position: absolute;
  top: 100%;
  left: 70px;
}

.feedback__hero {
  display: flex;
  gap: 30px;
  align-items: center;
}

.feedback__hero-properties {
  flex-grow: 1;
}

.feedback__hero-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback__hero-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  margin-bottom: 18px;
}

.feedback__hero-position {
  font-size: 18px;
  line-height: 21px;
}






