* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/* FORM */
.underline-input {
  font-family: inherit;
  font-size: inherit;
  border: none; 
  border-bottom: 1px solid #BDBDBD;
  outline: none; 
  padding-bottom: 16px;
  width: 100%;
  background-color: transparent; 
  } 

.underline-input:focus {
  border-bottom-color: #ab4949; 
}

::placeholder {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
  color: #BDBDBD;
 }

.textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;  
  border: none; 
  border-bottom: 1px solid #BDBDBD;
}

.textarea:focus {
  border-bottom-color: #ab4949;   
}


/* HEADER */
.header {
 /*  height: 75px; */
  width: 100%;
  background: #000000;
  padding: 22px 0;
 }

 .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .logo-wrapper {
  overflow: hidden;
  width: 87px;
  height: 31px;
 }

.logo {
  object-fit: cover;
}

.nav__list {
  list-style: none;
  display: flex;
  column-gap: 31px; 
}

.nav__link {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  line-height: 19px;
  text-transform: capitalize;
  display: inline-block;
 }

/* .nav__link:hover {
  background-color: red;
  } */


/* BANNER */
.banner {
  background-image: url(../images/bannerbg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 306px 0 185px;
  }

.banner .container {
  display: flex;
  align-items: center; 
  column-gap: 28px;
} 
 
.banner::before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

.banner__content {
  position: relative;
}

.banner__wrapper-logo {
  margin-bottom: 73px;
  width: 170px;
  height: 55px;
}

.banner__title {
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 97px;
  max-width: 670px; 
  position: relative;
}

.banner__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #fff;
  top: 100%;
  left: 0; 
  transform: translateY(55px);
}

.banner__description {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  max-width: 270px;
}

.banner__button {
  margin-top: 42px;
  border: 2px solid #fff;
  background-color: transparent;
  width: 100%;
  max-width: 270px;
  padding: 16.5px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 25px;
}

.banner__button:hover{
  border-color: #EC7979;
  color: #EC7979;
  background-color: transparent;
}

.banner__button:active{
  background-color: #AB4949;
  border-color: #AB4949;
  color: #fff;
}

.banner__wrapper-form {
  max-width: 470px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
 }

 .banner__form {
 padding: 35px 50px 75px 50px;
}

.form__title {
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 33px;
text-transform: uppercase;
text-align: center;
color: #333;
margin-bottom: 75px;
}

.form__title-span {
  color: #ec7979;
}

.banner__form .underline-input:not(:last-child) {
  margin-bottom: 32px;
}

.banner__form-btn {
  height: 60px;
  width: 100%;
  background-color: #EC7979;
  border-radius: 0 0 10px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.banner__form-btn:hover {
  background-color: #ab4949;
} 

.banner__form-btn:active {
background: #EC7979;
box-shadow: inset 0 0 10px 0 #ab4949;;
}


/* TABS BLOCK */
#tabs {
  margin-top: 100px;
  margin-bottom: 118px;
 }

.tab__item {
  color:#333333;
  display: inline-block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  max-width: 203px;
}

.tab__item.tab__item-active {
  border: 1px solid #C6CBCD;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background: #fff;
  position: relative;
  top: 1.5px; 
  }

.tab {
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: space-between;
}

.tab__wrapper-text {
  max-width: 700px;
  padding: 55px 20px 54px 100px;
  
}

.tab__title {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 57px;
}

.tab__description {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 26px;
}

.tab__description:last-of-type {
  margin: 0;
}

.tab__button {
  background-color: #EC7979;
  font-size: 18px;
  font-family: 'Open Sans';
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  margin-top: 84px;
  line-height: 25px;
  width: 100%;
  max-width: 270px;
  padding: 16.5px;
  cursor: pointer;
}

.tab__button:hover {
  background-color: #AB4949;
}

.tab__button:active {
  box-shadow: inset 0 0 10px 0 #ab4949;
  background: #ec7979;
}

.tab__wrapper-image {
max-width: 470px;;
}

.tab__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* WHY THIS IS AWESOME BLOCK */
#info {
  margin-bottom: 110px;
  text-align: center;
 }

.info__main-title {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 40px;
  text-transform: uppercase;
  margin-bottom: 85px;
  position: relative;
}

.info__main-title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  left: 50%;
  top: 100%; 
  transform: translate(-50%, 40px);
}

.info__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #86878B;
  margin-bottom: 92px;
}

.info__group {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  }

.info__wrapper-image {
  width: 92px;              
  height: 92px;            
  border-radius: 50%;        
  border: 1px solid #ec7979; 
  display: flex;            
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
}

.info__title {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 26px;

}

.info__text {
  font-size: 18px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
}


/* PRICING OPTIONS */
#price {
  padding-top: 82px;
  padding-bottom: 83px;
  background-color: #F5F5F5;
  text-align: center;
}

.price__wrapper {
  margin-bottom: 79px;
}

.price__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.price__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  left: 50%;
  top: 100%; 
  transform: translate(-50%, 40px);
}

.price__subtitle {
font-size: 18px;
font-weight: 400;
line-height: 21px;
color: #86878B;
}

.price__tarif {
display: flex;
justify-content: center;
gap: 30px;
align-items: flex-start;
}

.price__tarif-description {
  flex: 1;
  width: 100%;
  max-width: 370px;
  background: #fff;
}

.price__tarif-description:hover {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  margin-top: -20px;
  transition: 0.3s ease;
} 

.price__tarif-description li {
  padding: 15px;
  border-bottom: 2px solid #f5f5f5; 
  font-size: 18px;
  font-weight: 400;
  color: #86878B;
  line-height: 21px;
  list-style: none;
}

.price__tarif-description .price__tarif-title,
.price__tarif-value,
.price__tarif-specification {
  border-bottom: 2px solid #fff;
}

.price__tarif-description .price__tarif-title {
  background: #333333;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  line-height: 33px;
}

.price__tarif-description .price__tarif-value {
  background: #333333;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  padding: 34px;
}

.price__tarif-description .price__tarif-specification {
  background: #333333;
  color: #86878B;
  font-size: 18px;
  font-weight: 400;
}

.price__tarif-text {
  text-transform: capitalize;
}

.price__tarif-description li:last-child {
  border-bottom: none;
}


/* WHAT OUR CUSTOMERS ARE SAYING */
#feedback {
  padding: 107px 169px;
}

.feedback__wrapper-text {
  margin-bottom: 83px;
}

.feedback__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.feedback__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  position: absolute;
  left: 50%;
  top: 100%; 
  transform: translate(-50%, 40px);
}

.feedback__subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  color: #86878B;
}

.feedback__items-wrapper {
  display: flex;
  gap: 30px;
 }

.feedback__item {
  width: calc((100% - 60px) / 3 );
  max-width: 370px;
}

.feedback__text {
  background-color: #E2E2E2;
  font-size: 18px;
  color: #86878B;
  text-align: center;
  line-height: 21px;
  padding: 38px 25px;
  margin-bottom: 66px;
  border-radius: 10px;
  position: relative;
}

.feedback__text::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  position: absolute;
  top: 100%;
  left: 70px;
}

.feedback__hero {
  display: flex;
  gap: 30px;
  align-items: center;
}

.feedback__hero-properties {
  flex-grow: 1;
}

.feedback__hero-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback__hero-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  margin-bottom: 18px;
}

.feedback__hero-position {
  font-size: 18px;
  line-height: 21px;
}


/* DESIGN */
.design {
  background: url(../images/designbg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 70px 0;
 /*  margin-bottom: 67px; */
  text-align: center;
  }
 
.design::before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

.design .container {
position: relative;
}

.design__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 80px;
}

.design__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #fff;
  left: 50%;
  top: 100%; 
  transform: translate(-50%, 40px);
}

.design__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 80px;
}

.design__btn {
  width: 100%;
  max-width: 370px;
  padding: 14.5px;
  border: 2px solid #fff;
  background-color: transparent;
  line-height: 25px;
  font-size: 18px;
  font-family: 'Open Sans';
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}


/* CONTACT US*/
#contact .container {
  padding: 67px 0;
  text-align: center;
}

.contact__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.contact__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  left: 50%;
  top: 100%; 
  transform: translate(-50%, 40px);
}

.contact__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
  margin-bottom: 89px;
}

.contact__form {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.contact__form-input {
  margin-bottom: 50px;
}

 .contact__form-input:last-child {
  margin-bottom: 0;
} 

.contact__form-inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contact__form-message {
  resize: none;
  flex: 1; 
  background: transparent;
  padding-bottom: 16px;
}

.contact__form-btn {
  width: 100%;
  max-width: 370px;
  padding: 19px;
  background-color: #EC7979;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.contact__form-btn:hover {
  background-color: #ab4949;
} 

.contact__form-btn:active {
background: #EC7979;
box-shadow: inset 0 0 10px 0 #ab4949;;
}


/* FOOTER */
.footer {
  background-color: #000;
  padding-top: 35px;
  padding-bottom: 27px;;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 33px;
  margin-bottom: 28px;
  align-items: center;
}

.footer__link {
  color: #CCCCCC;
}

.footer__link:hover {
color: #EC7979;
transition: 0.3s ease;
}

.footer__copyright {
  font-size: 18px;
  color: #fff;
  line-height: 21px;
  text-align: center;
  opacity: 0.5;
}

