*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.container{
    max-width: 1185px;
    height: 100%;
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
.title{
    padding: 0 20px;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;   
    font-weight: 300;
}
.paragraph{
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-weight: 100;
}
.line{
    border-bottom: 1px solid #EC7979;
    width: 170px;
    height: 0px;
    margin: 0 auto 40px;
}
.customers__text--container{
    display: flex;
    margin-top: 83px;
    height: 130%;
    justify-content: center;
    justify-items: space-between;
}
.customer__cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.card__text{
    max-width: 370px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #86878B;
    border-radius: 10px;
    padding: 25px 20px;
    background-color: #E2E2E2;
    position: relative;
    
}
.card__text::after{
    content: "";
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #E2E2E2 transparent;
    top: 100%;
    left: 10%;
    transform: translateX(-50%);
    position: absolute;
    rotate: 180deg;
}
.customers__container{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.customer__image{
}