.Container{
    width: 1200px;
    height: auto;
    border: 1px solid #C6CBCD;
    margin: 0 auto;
    border-radius: 5px 0 0 0;
    border-top: hidden; 
    border-right: hidden; 
}
.tab_navigation{
    width: 1200px;
    height: 40px;
    margin-left: 0px;
    padding: 0px;
}
.tab_link_active{
    min-width: 203px;
    min-height: 40px;
    text-align: center;
    border: 1px solid #C6CBCD;
    display: inline-block;
    border-right: 1px solid #C6CBCD;
    border-bottom: hidden;
    border-radius: 5px 5px 0px 0px;
    border-left: hidden;
    align-items: center;
}

.tab_link{
    display: inline-block;
    min-width: 203px;
    min-height: 40px;
    border: 1px hidden #ffff;
    cursor: pointer; 
    text-align: center;
}
.line{
    display: inline-block;
    width: 996px;
    margin-left: 203px;
    margin-bottom: 15px; 
    border-bottom: 1px solid #C6CBCD;
    border-radius: 0px 0px 0px 5px;
}
.tab_content{
    display: inline-flex;
}
.tab_wrapper_text{
    margin-left: 101px;
}
.tab_title{
    max-width: 570px ;
    max-height: 40px ;
    font-family: Raleway;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 57px;
    vertical-align: middle;
    display: inline-block;
    
}
.tab_text{
    width: 570px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    vertical-align: middle;
    margin-bottom: 26px;
    
}
.tab_wrapper_image{
    display: flex;
    max-width: 470px;
    width: 100%;
    height: auto;
    margin-left: 60px;
    margin-top: 1px;
}
.tab_btn{
    width: 270px;
    height: 58px;
    margin-top: 78px;
}
.tab_btn button{
    width: 270px;
    height: 58px;
    background-color: rgba(236, 121, 121, 1);
    border: 1px solid rgba(236, 121, 121, 1);
    color: #fff;
}
a{
    text-decoration: none;
    color: black;
}
